.main-container.about {
    @include background;

    background-color: map-get($colors,"dark-grey");
    background-blend-mode: multiply;    

    .content {

        padding: 1rem 0.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.4px;

        h1 {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        p {      
            &:nth-child(2) {
                margin-top: 1.5rem;
            }            
        }

        @include xs {
            p {
                font-size: 1.25rem;
                line-height: 2rem;
            }
        }
       

        @include sm {
            margin: 0 auto;
            padding-top: 10rem;
            max-width: 75rem;
            line-height: 3rem;
    
            h1 {
                margin-bottom: 2rem;
            }
    
            p {
                font-size: 2rem;
    
                &:nth-child(2) {
                    margin-top: 1.5rem;
                }
            }
        }

        @include md {
            padding: 2rem;
            text-align: center;

            p {
                font-size: 1.5rem;
                line-height: 2.5rem;
    
                &:nth-child(2) {
                    margin-top: 1.5rem;
                }
            }          
        }

    }

}