.aside h1  {
    color: white;
    text-shadow: 4px 3px 2px #D76787;
    border-bottom: 0.5px solid #f1f1f1;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    letter-spacing: 1px;
}

.aside {
    height: 100%; 
    width: 15rem; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111;   
    overflow-x: hidden;  
  }
  
  /* The navigation menu links */
  .aside nav a {
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
//    color: #818181;
    color: lighten(map-get($colors, 'mid-pink'), 35%);
    border-bottom: 0.5px solid #f1f1f1;;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .aside nav a:hover {
    color: lighten(map-get($colors, 'mid-pink'), 10%);
    background-color: map-get($colors, 'dark-pink');
    color: white;
    transform: scale(1.05);
  }  

 