body {
    overflow-x: hidden;
    font-family: 'Rubik Regular'; 
}

input, textarea {
    font-family: 'Rubik Regular'; 
}

textarea::placeholder, input::placeholder {
    font-family: 'Rubik Regular'; 
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

