body {
    overflow-x: hidden;
    font-family: 'Rubik Regular'; 
}

input, textarea {
    font-family: 'Rubik Regular'; 
}

textarea::placeholder, input::placeholder {
    font-family: 'Rubik Regular'; 
}

ul {
    list-style-type: none;
}

