.header {   
   // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-image: url("/assets/images/laptop.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;

    font-family: 'Rubik Regular'; 

    .text {
        position: absolute;
        bottom: 5rem;
        right: 10rem;
        color: white;
    }  


    .photo-container { 
        margin-top: 15rem; 
    
        img {
            display: block;
            margin: 0 auto;
            max-width: 12rem;
            height: auto;     
            border-radius: 50%; 
        }
    }    

    h2, h3 {
        text-shadow: 1px 1px 0 #D76787;
    }

    h1 {
        font-family: 'Rubik Regular'; 
        font-size: 3.25rem;
        letter-spacing: 0.05rem;
        text-shadow: 2px 2px 0 #D76787;
    }
    h2 {
        margin-top: 1rem;
        letter-spacing: 0.03rem;   
    }

    h3 {
      margin-top: 0.75rem;
    }

}
