.header {   
 
    @include background;
 
    position: relative;

    font-family: 'Rubik Regular'; 

    .text {
        position: absolute;
        bottom: 15%;
        right: 5%;

        @include md {
            bottom: 5rem;
            right: 1rem;
        }

        @include lg {
            bottom: 3rem;
            right: 2rem;
        }

        @include xl {
            bottom: 6rem;
            right: 7rem;
        }
    
        color: white;
      
    }  


    .photo-container { 
        margin-top: 25rem;

        @include sm {
            margin-top: 15rem; 
        }
     
    
        img {
            max-width: 8rem;

            @include sm {
                max-width: 12rem;
            }

            display: block;
            margin: 0 auto;
         
            height: auto;     
            border-radius: 50%; 
        }
    }   
    


    h2, h3 {
        text-shadow: 3px 3px 1px map-get($colors, 'dark-pink');
        @include md {
            font-size: 2rem;
        }
    }

    h1 {
        @include md {
            font-size: 3rem;
        }

        @include lg {
            font-size: 3.25rem;
        }
        font-family: 'Rubik Regular'; 
       
        letter-spacing: 0.05rem;
        text-shadow: 4px 4px 2px map-get($colors, 'dark-pink');
    }
    h2 {
        margin-top: 1rem;
        letter-spacing: 0.03rem;   
    }

    h3 {
       margin-top: 0.75rem;
    }

    h1, h2, h3 {
        text-align: center;

        @include md {
            text-align: left;
        }
        
        
    }

}
