.mobile-nav {  
    background-color: white;
    color: black;
    position: absolute;
    right: 1rem;
    top: 1rem;   
    font-size: 2rem;
    z-index: 3;
    padding: 0.3rem 0.5rem;

    @include lg {
        display: none;
    }
}