.outer-container {
    position: relative;

    .mobile-nav {
        display: block;
    }

    .aside {
        display: none;
    }
    
    @include lg {
        .mobile-nav {
            display: none;
        }
        .aside {
            display: block;
        }
    }
}

@mixin page-base {
    background-image: url("/assets/images/laptop.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    min-height: 100vh;   
    width: 100%;
    background-color: map-get($colors,"dark-grey");
    color: white;

    @include lg-content-width;

    // @include md {
    //     width: calc( 100vw - 15rem );
    // }
}

@mixin lg-content-width {
    @include lg {
        width: calc( 100vw - 15rem );
    }
}