.main-container.coding {
    @include background;

    background-color: map-get($colors,"dark-grey");
    background-blend-mode: multiply;    

    .content {
        padding: 2.5rem 1.5rem 1rem 1.5rem;

        h1 {
            text-shadow: 2px 2px  map-get($colors, 'mid-pink');
        }

        p {
            padding-top: 1rem;
            font-size: 1.1rem;
        }

        @include lg {
            padding: 4rem;
        }

        @include xl {
            padding: 6rem;
        }           
    }
}