.coding {

    @include dark-page-base; 

    &__examples {
    
        max-width: 50rem;
        margin: 0 auto;         

        h1 {
            text-shadow: 1.5px 1.5px 2px  map-get($colors, 'mid-pink');
        }

        p {
            padding-top: 1rem;
            font-size: 1.1rem;
        }   
    }
}