.scs {  
    @include dark-page-base;  
}

.scs h1 {    
    text-shadow: 1.5px 1.5px 2px  map-get($colors, 'mid-pink');
    letter-spacing: 0.1rem;  
    margin: 0 auto 0;
    max-width: 50rem;
}

.scs article {
    margin-top: 1.25rem;
    margin-bottom: 2.25rem;
    margin: 1.25rem auto 2.25rem;
    max-width: 50rem;

    h2 {
        padding-bottom:0.25rem;
        letter-spacing: 0.05rem;
        text-shadow: 1px 1px 1.5  map-get($colors, 'mid-pink');
    }

    p, li{
        padding-top: 0.6rem;
        line-height: 1.4rem;
        letter-spacing: 0.025rem;
    }  

}
