.main-container {    
    @include main-container;
}

.main {
    h2 {
        margin: 3rem 1rem 2rem 1rem;;
        color: map-get($colors, 'dark-pink');

        @include lg {
            margin-left: 5%;
        }
    }  
}

.main .projects {   
    @include projects;
}


.contact {
    background-color:  lighten(map-get($colors, "mid-grey"), 25%);   
    position: relative;

    h2 {
        padding-top: 2rem;
        @include xl {
            margin-left: 5%;
            margin-bottom: 1rem;
        }
    }
}

.contact__form { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin: 0 auto;
        width: 100%;
        max-width: 70rem;
        padding: 0 0 2rem 0; 
     
}

.contact__form .form-control {
    width: 90%;

    input, textarea {
        display: block;
        width: 100%;
    }

    input {
        padding: 1rem 0.5rem 1rem;
    }

    .message-input  {
        height: 8rem;
        padding: 0.75rem 0 0 0.5rem;
    }
}


.contact__form button {
    height: 3rem;
    width: 10rem;
    background-color: #498EDE;
    color: white;   
    border: none;
    border-radius: 0.2rem;
    font-weight: 600;
    font-size: 1.1rem;          
    margin-top: 1.25rem;            
}

@include lg {
    .form-control.first-name, .form-control.last-name {   
        width:calc(45% - 0.5rem);      
    }
}

@include xl {
    .form-control.email, .form-control.subject {
        width:calc(45% - 0.5rem);   
    }
}

.input-error {
    border: 0.15rem solid map-get($colors, 'red');   
}

.error-message {
    margin-top: 0.2rem;
    color: map-get($colors, 'red'); 
    font-size: 0.9rem;
}

input:focus, textarea:focus {          
    border: 0.2rem solid map-get($colors, 'dark-pink');         
    outline: none;
}   

.popup {
    // height: 20rem;
    // width: 20rem;
    background-color: white;
    color: map-get($colors, 'dark-pink');
 //   display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-text {
    position: relative;
    border: 2px solid map-get($colors, 'dark-pink');
    padding: 10rem;
    h3 {
        margin-top: 1rem;
    }
}

.popup .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1.5rem;
    font-size: 2rem;

}




// .contact__form button {/     height: 3rem;
//     width: 10rem;
//     background-color: #498EDE;
//     color: white;   
//     border: none;
//     border-radius: 0.2rem;
//     font-weight: 600;
//     font-size: 1.1rem;          
//     margin-top: 1.25rem;            
// }

    // &___form button {
    //     height: 3rem;
    //     width: 10rem;
    //     background-color: #498EDE;
    //     color: white;   
    //     border: none;
    //     border-radius: 0.2rem;
    //     font-weight: 600;
    //     font-size: 1.1rem;          
    //     margin-top: 1.25rem;          
    // }


    // &__form { 
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     gap: 1rem;
    //     margin: 0 auto;
    //     width: 100%;
    //     max-width: 70rem;
    //     padding: 0 0 2rem 0; 

    //     .form-control {
          
    //         background-color: yellow;
    //         margin-bottom: 1rem;
           

    //         input {
    //             display: block;
    //             width:90%;    
    //             padding: 1rem 0.5rem 1rem;
    //         }
             
    //         @include lg {
    //             padding: 1rem 0.5rem;
    //             &:nth-child(-n+2) {
    //                 width:calc(45% - 0.5rem);
    //             }
    //             background-color: green;
    //         }

    //         @include xl {
    //             &:nth-child(n+3):nth-child(-n+4) {
    //                 width: calc(45% - 0.5rem);
    //                 background-color: blue;
    //             }
    //         }   
            

    //         textarea {            
    //             height: 8rem;
    //             padding: 0.75rem 0 0 0.5rem;
              
    //             background-color: pink;
    //         }            

    //     }


    //     button {
    //         height: 3rem;
    //         width: 10rem;
    //         background-color: #498EDE;
    //         color: white;   
    //         border: none;
    //         border-radius: 0.2rem;
    //         font-weight: 600;
    //         font-size: 1.1rem;          
    //         margin-top: 1.25rem;            
    //     }

 

    //     input:focus, textarea:focus {          
    //          border: 0.1rem solid map-get($colors, 'dark-pink');         
    //          outline: none;
    //      }       
    // }


