@mixin projects {
    // **************************************************************************/
    // scss for project cards group                                             */
    // **************************************************************************/
    display: grid;
    grid-template-columns: 1fr;    
    gap: 2rem;
    padding: 0 1rem;
   

    @include md {
        grid-template-columns: 1fr 1fr;
    }   

    @include lg {
        grid-template-columns: 1fr 1fr;
        margin-left: 2rem;
        margin-right: 2rem;       
    }   
                  
    @include xl {
        // increase back to 3 rows when more projects.
        grid-template-columns: 1fr 1fr;  
        margin-left: 5%;
        margin-right: 5%;
    }

    @include xxl {
        margin-left: 15%;
        margin-right: 15%;
    }

    
    // ***************************************************************************/
    // scss for an individual project card                                       */
    // ***************************************************************************/
    &__card {
        display: flex;
        flex-direction: column;   
        gap: 1rem;
        height: auto;   
        padding-bottom: 2rem;
        transition: transform 1.5s ease;    
    
        &:first-child {
            margin: 0 auto;
        }
        &:not(:first-child) {
            margin: 4rem auto;
        }  

        @include md {      

            &:not(:first-child) {
                margin: 0 auto;
            }           
        }

        @include lg {    
 
            &:not(:first-child) {
                margin: 0 auto;
            }           
        }

        box-shadow: 0 0 10px 0 #A3ABBD;
    
        .img-wrapper {
            max-width: 100%;
        }    
      
        img {
            max-width: inherit;
            height: auto;
        }
    
        h3, p, button {
            padding: 0 0.5rem;  
        }

        .btn-area {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            a {   
                display: flex;  
                justify-content: center;
                align-items: center;      
                height: 2rem;
                width:90%;

                background-color: #498EDE;
                color: white;   
                border: none;
                border-radius: 0.2rem;
                font-weight: 600;
                font-size: 1.1rem;
                align-self: center;

                &:first-child {
                    margin-top: 0;     
                    }
                &:last-child {
                    margin-top: 0.4rem;
                }    
                
                @include md {
                    width: 45%;
                    height: 3rem;

                    &:last-child {
                        margin-top: 0;
                    }
                }
            }

            a:last-child {
                background-color: map-get($colors, dark-pink);
            }
        } 
    }
    
    &__card:hover {
        transform: translateY(-1.5rem);
    }    
}

