.aside h1  {       
    border-bottom: 0.5px solid lighten(map-get($colors, 'mid-pink'), 20%);
    height: 6rem;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
   
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: white;       
        text-shadow: 3px 3px 2px map-get($colors, 'mid-pink');
    }   
}

.aside {
    height: 100%; 
    width: 15rem; 
    position: fixed; 
    z-index: 10; 
    top: 0;
    left: -15rem;
    background-color: #111;   
    transition: left 2000ms ease;
    overflow-x: hidden;  
}
  
/* The navigation menu links */
.aside nav a {
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: lighten(map-get($colors, 'mid-pink'), 35%);
    border-bottom: 0.5px solid lighten(map-get($colors, 'mid-pink'), 20%);
    display: block;
}
  
  
/* When you mouse over the navigation links, change their color */
.aside nav a:hover {
    color: lighten(map-get($colors, 'mid-pink'), 10%);
    background-color: map-get($colors, 'dark-pink');
    color: white;
    transform: scale(1.05);
}  

.mobile-nav-icon {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;   
    font-size: 2rem;
    z-index: 5;
    padding: 0.3rem 0.5rem;
    height: 3rem;
    width: 3rem;   
    
    @include lg {
        display: none;
    }
} 

#close-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 0;   
    color: map-get($colors, 'dark-grey');

    @include lg {
        display: none;
    }
}



 