.aside h1  {       
    border-bottom: 0.5px solid lighten(map-get($colors, 'mid-pink'), 20%);
    height: 6rem;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
   
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: white;       
        text-shadow: 3px 3px 2px map-get($colors, 'mid-pink');
    }
    button {
        height: 3rem;
        width: 3rem;    
        font-size: 1.5rem;    
    }
}

.aside {
    height: 100%; 
    width: 15rem; 
    position: fixed; 
    z-index: 10; 
    top: 0;
    background-color: #111;   
    transition: left 2000ms ease;
    overflow-x: hidden;  
  }

  .aside:hover {
    left: 25rem;
  }
  
  /* The navigation menu links */
  .aside nav a {
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: lighten(map-get($colors, 'mid-pink'), 35%);
    border-bottom: 0.5px solid lighten(map-get($colors, 'mid-pink'), 20%);
    display: block;
  }

  .aside-active {
    left: 0;
  }

  .aside-hidden {
    left: -15rem;
  }

  
  
  /* When you mouse over the navigation links, change their color */
  .aside nav a:hover {
    color: lighten(map-get($colors, 'mid-pink'), 10%);
    background-color: map-get($colors, 'dark-pink');
    color: white;
    transform: scale(1.05);
  }  

 