// sets up outer relative positioning and which nav to display 
.outer-container {
    position: relative; 
}

.transition-stopper * {    
    transition: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    z-index: -1;
    transition: opacity 500ms ease;
}

.mobile-nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    color: black;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    font-size: 2rem;
    z-index: 5;
    padding: 0.3rem 0.5rem;
    height: 3rem;
    width: 3rem;

    @include lg {
        display: none;
    }
}

// background image
@mixin background {
    background-image: url("../assets/images/laptop2.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    min-height: 100vh;   
    width: 100%;
    background-color: map-get($colors,"dark-grey");
    color: white;

    @include lg-content-width; 
}

// calculates screen width minus fixed nav
@mixin lg-content-width {
    @include lg {
        width: calc( 100vw - 15rem );
    }
}

// container for large screens that takes width of nav into account
@mixin main-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    @include lg {
        margin-left: 15rem;       
        @include lg-content-width;
    }      
}